In [ ]:
!pip install pysus
!pip install geopandas

In [2]:
import pandas as pd 
from ftplib import FTP
from pysus.online_data.SIH import download

In [3]:
vars = ['N_AIH','IDADE','SEXO','UF_ZI','NUM_FILHOS','INSTRU','MORTE','CID_MORTE','DIAS_PERM','DIAG_PRINC','DIAG_SECUN','DT_INTER','ANO_CMPT','MES_CMPT','MARCA_UTI','UTI_MES_TO','INFEHOPS']
meses = [1,2,3,4,5,6,7,8,9,10,11,12]
estado = 'es'
anos = [2019,2020,2021]
cids = ['F32','F33','F48']
aux={}

In [6]:
#função que faz o download, concatenação, e passa o DataFrame pra csv
def download_sih( vars, meses, estado, anos, cids, aux ):
  for ano in anos:
    for mes in meses:
        aux[mes, ano] = download(estado, ano, mes)     
        print(f"O Arquivo do Mês {mes} do Ano {ano} do Estado do {estado.upper()} foi Baixado!")

In [19]:
download_sih(vars, meses, estado, anos, cids, aux)
sih_es = pd.concat({k:pd.DataFrame.from_dict(v) for k, v in aux.items()}, axis=0).reset_index()
sih_es = sih_es.filter(vars)
sih_es = sih_es[sih_es['DIAG_PRINC'].isin(cids)]
sih_es.to_csv('sih_es.csv', index=False)        

sih_es = pd.read_csv('sih_es.csv')
sih_es.shape

O Arquivo do Mês 1 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 2 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 3 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 4 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 5 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 6 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 7 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 8 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 9 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 10 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 11 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 12 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 1 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 2 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 3 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 4 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 5 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 6 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 7 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 8 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 9 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 10 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 11 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 12 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 1 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 2 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 3 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 4 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 5 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 6 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 7 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 8 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 9 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 10 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 11 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 12 do Ano 2021 do Estado do ES foi Baixado!

(7, 16)

In [20]:
# visualização dos pacientes
sih_es

,N_AIH,IDADE,SEXO,UF_ZI,NUM_FILHOS,INSTRU,MORTE,CID_MORTE,DIAS_PERM,DIAG_PRINC,DIAG_SECUN,DT_INTER,ANO_CMPT,MES_CMPT,MARCA_UTI,UTI_MES_TO
0,3219102131091,30,3,320000,0,0,0,0,5,F33,0,20190826,2019,9,0,0
1,3219102109795,30,3,320000,0,0,0,0,2,F33,0,20190901,2019,9,0,0
2,3219102153509,24,3,320000,0,0,0,0,3,F33,0,20190910,2019,10,0,0
3,3220101533792,38,3,320000,0,0,0,0,1,F33,0,20200301,2020,4,0,0
4,3220101038627,19,1,320480,0,0,0,0,1,F32,0,20200820,2020,8,0,0
5,3220100474503,18,3,320190,0,0,0,0,3,F33,0,20200825,2020,9,0,0
6,3221101002911,40,3,320470,0,0,0,0,0,F32,0,20211119,2021,11,0,0

In [21]:
# visualizaçao das variaveis que não possuem nenhum valor
sih_es['NUM_FILHOS'].unique(), sih_es['INSTRU'].unique(), sih_es['CID_MORTE'].unique(), sih_es['DIAG_SECUN'].unique()

(array([0]), array([0]), array([0]), array([0]))

In [23]:
# excluindo variaveis que não possuem valores 
sih_es.drop(['NUM_FILHOS', 'INSTRU', 'CID_MORTE','DIAG_SECUN'], axis=1, inplace=True)

In [24]:
sih_es

,N_AIH,IDADE,SEXO,UF_ZI,MORTE,DIAS_PERM,DIAG_PRINC,DT_INTER,ANO_CMPT,MES_CMPT,MARCA_UTI,UTI_MES_TO
0,3219102131091,30,3,320000,0,5,F33,20190826,2019,9,0,0
1,3219102109795,30,3,320000,0,2,F33,20190901,2019,9,0,0
2,3219102153509,24,3,320000,0,3,F33,20190910,2019,10,0,0
3,3220101533792,38,3,320000,0,1,F33,20200301,2020,4,0,0
4,3220101038627,19,1,320480,0,1,F32,20200820,2020,8,0,0
5,3220100474503,18,3,320190,0,3,F33,20200825,2020,9,0,0
6,3221101002911,40,3,320470,0,0,F32,20211119,2021,11,0,0

In [25]:
# TRANSFORMAÇÃO

#  número da N_AIH - transformando em string e atribuindo como index
sih_es['N_AIH'] = sih_es['N_AIH'].astype(str)
sih_es.set_index(['N_AIH'], inplace=True)

In [26]:
sih_es

,IDADE,SEXO,UF_ZI,MORTE,DIAS_PERM,DIAG_PRINC,DT_INTER,ANO_CMPT,MES_CMPT,MARCA_UTI,UTI_MES_TO
N_AIH,,,,,,,,,,,
3219102131091,30,3,320000,0,5,F33,20190826,2019,9,0,0
3219102109795,30,3,320000,0,2,F33,20190901,2019,9,0,0
3219102153509,24,3,320000,0,3,F33,20190910,2019,10,0,0
3220101533792,38,3,320000,0,1,F33,20200301,2020,4,0,0
3220101038627,19,1,320480,0,1,F32,20200820,2020,8,0,0
3220100474503,18,3,320190,0,3,F33,20200825,2020,9,0,0
3221101002911,40,3,320470,0,0,F32,20211119,2021,11,0,0

In [27]:
# sexo - 1 = Masculino 3 = Feminino
sexo={1:'Masculino', 3:'Feminino'}
sih_es['SEXO'] = sih_es['SEXO'].replace(sexo)

In [28]:
sih_es

,IDADE,SEXO,UF_ZI,MORTE,DIAS_PERM,DIAG_PRINC,DT_INTER,ANO_CMPT,MES_CMPT,MARCA_UTI,UTI_MES_TO
N_AIH,,,,,,,,,,,
3219102131091,30,Feminino,320000,0,5,F33,20190826,2019,9,0,0
3219102109795,30,Feminino,320000,0,2,F33,20190901,2019,9,0,0
3219102153509,24,Feminino,320000,0,3,F33,20190910,2019,10,0,0
3220101533792,38,Feminino,320000,0,1,F33,20200301,2020,4,0,0
3220101038627,19,Masculino,320480,0,1,F32,20200820,2020,8,0,0
3220100474503,18,Feminino,320190,0,3,F33,20200825,2020,9,0,0
3221101002911,40,Feminino,320470,0,0,F32,20211119,2021,11,0,0