In [ ]:
!pip install pysus
!pip install geopandas

In [2]:
import pandas as pd 
from ftplib import FTP
from pysus.online_data.SIH import download

In [7]:
vars = ['N_AIH','IDADE','SEXO','UF_ZI','NUM_FILHOS','INSTRU','MORTE','CID_MORTE','DIAS_PERM','DIAG_PRINC','DIAG_SECUN','DT_INTER','ANO_CMPT','MES_CMPT','MARCA_UTI','UTI_MES_TO','INFEHOPS']
meses = [1,2,3,4,5,6,7,8,9,10,11,12]
estado = 'es'
anos = [2019,2020,2021]
cids = ['F32','F33','F48']
aux={}

In [8]:
for ano in anos:
  for mes in meses:
      aux[mes, ano] = download(estado, ano, mes)     
      print(f"O Arquivo do Mês {mes} do Ano {ano} do Estado do {estado.upper()} foi Baixado!")

O Arquivo do Mês 1 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 2 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 3 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 4 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 5 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 6 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 7 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 8 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 9 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 10 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 11 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 12 do Ano 2019 do Estado do ES foi Baixado!
O Arquivo do Mês 1 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 2 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 3 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 4 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 5 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 6 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 7 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 8 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 9 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 10 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 11 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 12 do Ano 2020 do Estado do ES foi Baixado!
O Arquivo do Mês 1 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 2 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 3 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 4 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 5 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 6 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 7 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 8 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 9 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 10 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 11 do Ano 2021 do Estado do ES foi Baixado!
O Arquivo do Mês 12 do Ano 2021 do Estado do ES foi Baixado!

In [14]:
sih_es = pd.concat({k:pd.DataFrame.from_dict(v) for k, v in aux.items()}, axis=0).reset_index()
sih_es = sih_es.filter(vars)
sih_es = sih_es[sih_es['DIAG_PRINC'].isin(cids)]
sih_es.to_csv('sih_es.csv')

In [16]:
sih_es = pd.read_csv('sih_es.csv')
sih_es.shape

(7, 17)

In [17]:
sih_es

,Unnamed: 0,N_AIH,IDADE,SEXO,UF_ZI,NUM_FILHOS,INSTRU,MORTE,CID_MORTE,DIAS_PERM,DIAG_PRINC,DIAG_SECUN,DT_INTER,ANO_CMPT,MES_CMPT,MARCA_UTI,UTI_MES_TO
0,168204,3219102131091,30,3,320000,0,0,0,0,5,F33,0,20190826,2019,9,0,0
1,170928,3219102109795,30,3,320000,0,0,0,0,2,F33,0,20190901,2019,9,0,0
2,198139,3219102153509,24,3,320000,0,0,0,0,3,F33,0,20190910,2019,10,0,0
3,316154,3220101533792,38,3,320000,0,0,0,0,1,F33,0,20200301,2020,4,0,0
4,398249,3220101038627,19,1,320480,0,0,0,0,1,F32,0,20200820,2020,8,0,0
5,413954,3220100474503,18,3,320190,0,0,0,0,3,F33,0,20200825,2020,9,0,0
6,716460,3221101002911,40,3,320470,0,0,0,0,0,F32,0,20211119,2021,11,0,0