In [ ]:
!pip install pysus
!pip install geopandas

In [25]:
# importanto "download" do SIH ( )
from pysus.online_data.SIH import download
import pandas as pd 

# tamanho dos 2 primeiros meses para comparar
mes1 = download(state='ES', year=2021, month = 1)
print('Janeiro: ' + str(mes1.shape))

mes2 = download(state='ES', year=2021, month = 2)
print('Fevereiro: ' + str(mes2.shape))

Janeiro: (20879, 113)
Fevereiro: (20748, 113)

In [29]:
# gravando os meses em uma lista
meses = [1,2,3,4,5,6,7,8,9,10,11,12]
estados = ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','']
ano = 2021

# criando um dicionario onde serão guardadados os bancos
sih_es_2021={}

# baixando os meses do ano escolhido e colocando em um dicionário python
for m in meses:
  sih_es_2021[estado, m] = download(state=estado, year=ano, month = m )
  print('Mês ' + str(m) + ' Baixado! ')

sih_es_2021

# concatenando o dicionario em um banco 
banco = pd.concat({k:pd.DataFrame.from_dict(v) for k, v in sih_es_2021.items()}, axis=0).reset_index()
banco

Mês 1 Baixado!
Mês 2 Baixado!
Mês 3 Baixado!
Mês 4 Baixado!
Mês 5 Baixado!
Mês 6 Baixado!
Mês 7 Baixado!
Mês 8 Baixado!
Mês 9 Baixado!
Mês 10 Baixado!
Mês 11 Baixado!
Mês 12 Baixado!

,level_0,level_1,level_2,UF_ZI,ANO_CMPT,MES_CMPT,ESPEC,CGC_HOSP,N_AIH,IDENT,...,DIAGSEC9,TPDISEC1,TPDISEC2,TPDISEC3,TPDISEC4,TPDISEC5,TPDISEC6,TPDISEC7,TPDISEC8,TPDISEC9
0,ES,1,0,320000,2021,01,01,27265891000164,3221101224902,1,...,,0,0,0,0,0,0,0,0,0
1,ES,1,1,320000,2021,01,01,27265891000164,3221101224913,1,...,,0,0,0,0,0,0,0,0,0
2,ES,1,2,320000,2021,01,01,27265891000164,3221101224924,1,...,,0,0,0,0,0,0,0,0,0
3,ES,1,3,320000,2021,01,01,27265891000164,3221101224935,1,...,,0,0,0,0,0,0,0,0,0
4,ES,1,4,320000,2021,01,01,27265891000164,3221101232459,1,...,,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265466,ES,12,20318,320520,2021,12,01,27165554000448,3221101206708,1,...,,0,0,0,0,0,0,0,0,0
265467,ES,12,20319,320520,2021,12,01,27165554000448,3221101206741,1,...,,0,0,0,0,0,0,0,0,0
265468,ES,12,20320,320520,2021,12,01,27165554000448,3221101206752,1,...,,0,0,0,0,0,0,0,0,0
265469,ES,12,20321,320520,2021,12,01,27165554000448,3221101206763,1,...,,0,0,0,0,0,0,0,0,0
265470,ES,12,20322,320520,2021,12,02,27165554000448,3221101206631,1,...,,0,0,0,0,0,0,0,0,0